<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>method</key>
      <string>app-store</string>
      <key>signingStyle</key>
      <string>automatic</string>
      <key>teamID</key>
      <string>HA66WMZT25</string>
      <key>uploadSymbols</key>
      <true/>
      <key>compileBitcode</key>
      <false/>
      <key>thinning</key>
      <string>none</string>
      <key>destination</key>
      <string>export</string>
      <key>provisioningProfiles</key>
      <dict>
          <key>com.americabitcoinatm.wallet</key>
          <string>match AppStore com.americabitcoinatm.wallet</string>
          <key>com.americabitcoinatm.wallet.watch</key>
          <string>match AppStore com.americabitcoinatm.wallet.watch</string>
          <key>com.americabitcoinatm.wallet.Stickers</key>
          <string>match AppStore com.americabitcoinatm.wallet.Stickers</string>
          <key>com.americabitcoinatm.wallet.MarketWidget</key>
          <string>match AppStore com.americabitcoinatm.wallet.MarketWidget</string>
      </dict>
  </dict>
</plist>
